{% load static %}
<html>
    <head>
        <title>BIBLIO BEANS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body, html {
                height: 100%;
                margin: 0;
              }
            .body {
                padding:0%;
                margin:0%;
                margin-top: 0%;
                margin-bottom: 0%;
                margin-right: 0%;
                margin-left:0%;
                border:0%;
            }
    
            .header {
                color:black;
                padding:5%;
                background-image:url({% static 'bg.png' %});
                height: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size:cover;
                
            }
          
            .navigationBar{
                background-color:#252835;
                display: flex;
                
            }

            .bloc{
                width: 20%;
                padding-left: 5%;
            }

            a:link {
                color: white;
              }
              
              a:visited {
                color: white;
              }
              
              a:hover {
                color:#42A7B3;
              }
              
              a:active {
                color:#42A7B3;
              }
              
              a:link, a:visited {
                text-decoration: none;
              }
                          
            .content {  
                display: flex;
                flex-wrap: wrap;
            }
            
            .section1 {
                flex: 30%;
                background-color: #EAEAEA;
                padding: 20px;
            }
            
            .section2 {
                flex: 30%;
                background-color: #EAEAEA;
                padding: 20px;
            }
            
            .footer {
                padding: 20px;
                text-align:center;
                background-color:#252835;
                color:white;
            }
        </style>
    </head>
    <body>
        <!--Coding the header and the navigation bar-->

        <div class="header" id="home">
        </div>
         <div class="navigationBar">
            <a href="#home" class = "bloc">Home</a>
            <a href="#books" class = "bloc">Book collection</a>
            <a href="#menu" class = "bloc">Menu</a>
            <a href="#about" class = "bloc">About us</a>
            <a href="#contact" class = "bloc">Contact</a>
          </div>
        
          <!--Content-->
          <div class="content">
            <div class="section1">
                <div id="about">
                    <h1 style="text-align:center">A Haven for Bookworms ...</h1>
                    <p style="text-align:center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                    exercitation ullamco laboris nisi ut aliquip .</p>
                    </br></br></br>
                </div>
                        <div id="books">
                         <h2 style="text-align:center">|| Current BiblioBeaners favorites reads ||</h2>
                    <ul>
                        {% for book in books %}
                        <li>
                            <b>{{book.title}} </b></br>
                            <ul>
                            <li>written by {{book.author}}</li>
                            <li>{{book.genre}}</li>
                            {{book.description}}
                            </ul>
                        </br>
                        {% endfor %}
                    </ul>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                         dolor in reprehenderit in voluptate velit esse .</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit 
                        anim id est laborum.</p>
                    </div>
            </div>
            <div class="section2" >
                <h1 style="text-align:center">.. and Coffee Lovers</h1>
                <p style="text-align:center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                    exercitation ullamco laboris nisi ut aliquip .</p>
                </br></br></br>
                <div id="menu">
                <h2 style="text-align:center">|| Menu ||</h2>
                <h4 style="text-align:center">Cappucino</h4>
                 <p style="text-align:center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <h4 style="text-align:center">Espresso</h4>
                <p style="text-align:center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <h4 style="text-align:center">Macchiato</h4>
                <p style="text-align:center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <h4 style="text-align:center">Cappucino</h4>
                <p style="text-align:center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <h4 style="text-align:center">Latte</h4>
                <p style="text-align:center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <h4 style="text-align:center">Tea</h4>
                <p style="text-align:center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <h4 style="text-align:center">Chai</h4>
                <p style="text-align:center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
          </div>
        <!--Coding the footer -->
        <div class="footer" id = "contact">
            <h2>Contact us for more !</h2>
            <img src="{% static 'logo4.png' %}">
        </div>
    </body>
</html>
